/*NavBar*/
#brand {
    text-align: center !important;
    width: 15% !important;
    padding-left:2%
}
#brand2{
	text-align: center !important;
    width: 15% !important;
    color: black !important;
    padding-left:2%
}

#nav2{
	background-color: rgb(204,204,204);
}

.nav-item a {
    color: #fff !important;
}


/*bottone fissato*/
#simulatutto{
    margin-right: 1% !important;
    margin-left: 1% !important;
}

/*simula europa*/
#simulaeuropa {
    background-color: transparent !important;
    text-decoration: none !important;
    color: #007BFF !important;
    border: none;
}


/*tabella dettagli*/
#table {
    text-align: center;
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    border: 5px solid #007BFF;
}

#table th, #table td {
    text-align: center;
    padding: 10px;
}

#thdett{
    background-color: red !important; 
    border: 1px solid blue !important;
}

#table th , th a{
    background-color: #007BFF;
    color: #fff;
    text-decoration:none;
}

#table td {
    background-color: #ECECEC;
}

#table tr:nth-child(even) td {
    background-color: #F5F5F5;
}

#table tr:hover td {
    background-color: #AED6F1;
}

h1 {
    text-align: center;
    margin: 20px;
}

.tabellone{
	border: 1px solid #007BFF;
}

.classifica{
    border-right: 1px solid #007BFF;
}

/*Legenda*/
.legend-box {
  width: 20px; /* Larghezza del quadrato */
  height: 20px; /* Altezza del quadrato */
  display: inline-block; /* Per allineare gli elementi in orizzontale */
  margin-right: 10px; /* Spazio tra i quadrati e le spiegazioni */
}

.legend-text {
  display: inline-block;
}


/*europa*/
#qual{
    text-decoration: none !important;
}

.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}