/* HEADER */
#brand{
    width: 100%;
    height: 50px;
}
.nav-link.px-2{
    color: #000 !important;
    font-size: 20px !important;
    font-weight: 500 !important;
}

/* ACCESSO */
.form-row{
    display: flex !important;
}

.form-group.col-md-2.mt-2, .form-group.col-md-4, .form-group.col-md-5, .form-group.col-md-6, .form-group.col-md-10, .form-group.col-md-12{
    padding: 10px !important;
}

#accesso_bottoneinvio{
    margin: 10px !important;
}

/* BACHECA */
.legend-box {
    width: 20px; /* Larghezza del quadrato */
    height: 20px; /* Altezza del quadrato */
    display: inline-block; /* Per allineare gli elementi in orizzontale */
    margin-right: 10px; /* Spazio tra i quadrati e le spiegazioni */
}

/* DETTAGLI */
#table {
    text-align: center;
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    border: 5px solid #007BFF;
}

#table th, #table td {
    text-align: center;
    padding: 10px;
}

#thdett{
    background-color: red !important; 
    border: 1px solid blue !important;
}

#table th , th a{
    background-color: #007BFF;
    color: #fff;
    text-decoration:none;
}

#table td {
    background-color: #ECECEC;
}

#table tr:nth-child(even) td {
    background-color: #F5F5F5;
}

#table tr:hover td {
    background-color: #AED6F1;
}

h1 {
    text-align: center;
    margin: 20px;
}

.tabellone{
	border: 1px solid #007BFF;
}

.classifica{
    border-right: 1px solid #007BFF;
}